data/
fonts/
char_list.txt 
wandb/ 
checkpoints/ 
configs/config_2.yaml 
configs/config_3.yaml 
main_train2.py
main_train3.py
train_VAE_1.py
train_VAE_2.py
train_VAE_3.py
configs/VAE_config_1.yaml 
configs/VAE_config_2.yaml 
configs/VAE_config_3.yaml 
data/
font_dataset/
