checkpoints/ 
data/
decoder_output/
lmdb_data/
lmdb_latent/
log/ 
rep_env/
wandb/
char_list.txt 
requirement_dis.txt
data_to_latent.slurm
DDPM.slurm
super_VAE_1.slurm
super_VAE_new.slurm
intersection_chars.txt
__pycache__/
*.pyc
lmdb_keys.json
test.txt
font_list.json