data/
fonts/
char_list.txt 
wandb/ 
checkpoints/ 
configs/config_1.yaml 
configs/config_2.yaml 
configs/config_3.yaml 
main_train1.py
main_train2.py
main_train3.py
train_VAE_1.py
train_VAE_2.py
train_VAE_3.py
configs/VAE_config_1.yaml 
configs/VAE_config_2.yaml 
configs/VAE_config_3.yaml 
font_data.lmdb/ 
font_latents.lmdb/ 
font_list.json 
lmdb_keys.json 
font_latents_temp.lmdb/
font_latents_v2_shards/
font_latents_v2_temp.lmdb/
font_latents_v2.lmdb/
font_latents_v2_temp.pt
font_latents_v2.pt
